.filtre {
  color: var(--couleur-texte);
  padding: var(--espace-xs);
  cursor: pointer;
  font-size: var(--police-taille-lg);

  &:hover {
    background-color: var(--couleur-filtre);
  }
}
