.modale-verrou {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.modale__conteneur {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.386);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .modale__carte {
    position: relative;
    background-color: white;
    color: black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;

    & .modale__titre {
      margin-bottom: 1rem;
    }

    & .modale__btn_fermer {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: transparent;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
    }

    & .modale__carte-detail {
      display: flex;
      gap: 100px;
      justify-content: space-around;
      margin: 40px;

      & .carte-information {
        width: 70ch;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        & .modale__texte {
          font-size: var(--police-taille-lg);
        }
      }
    }
  }

  &.invisible {
    display: none;
  }
}
